<!DOCTYPE html>
<html class="" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, user-scalable=no">
<meta property="og:site_name" content="{{ BB.config('app.name') }}">
<meta name="csrf-token" content="q4LTdVJSYAaOyIF8b8YmLbJmX5mdXhPjVa9JIgz2">
<title>{{ BB.config('app.name') }}</title>
<meta name="description" content="The most popular PHP and MacBB forum.">
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="favicon.png">
<link rel="icon" type="image/png" sizes="16x16" href="favicon.png">
<link rel="manifest" href="/favicons/site.webmanifest">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#3668c9">
<link rel="shortcut icon" href="/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<link rel="alternate" type="application/atom+xml" title="Laracasts" href="/feed">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=optional" rel="stylesheet">
<link href="style.css" rel="stylesheet">
</head>