
<div class="tw-my-6 tw-pt-4 tw-px-4 border">
<ul class="pagination justify-content-center">
<li class="page-item disabled"><span class="page-link bg-dark bg-hmac text-white">&laquo; Prev</span></li>
<li class="page-item d-block"><span class="page-link">1</span></li>
<li class="page-item d-block"><span class="page-link btn-mac">3</span></li>
<li class="page-item d-block"><span class="page-link">7</span></li>
<li class="page-item"><a href="#" rel="next"><span class="page-link bg-dark bg-hmac text-white">Next &raquo;</span></a></li>
</ul>
</div>