<div class="tw-flex tw-justify-center md:tw-justify-between tw-mb-4 md:tw-mb-4 md:tw-hidden" style="height: 40px;">
<form class="search-form border-mac tw-bg-grey-panel tw-w-full" action="search.php" autocomplete="off">
<input name="q" class="tw-px-5 tw-pt-0 tw-text-sm tw-w-full tw-h-full" placeholder="Search Users, Forums, Threads..." value="">
</form>
</div>