<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title>{{ title|d(BB.config('app.name') }}</title>
    <subtitle>The best source of Laravel training on the web.</subtitle>
    <link href="https://laracasts.com/feed" rel="self" />
    <updated>2020-08-14T06:42:43-04:00</updated>
    <author>
        <name>Jeffrey Way</name>
    </author>
    <id>tag:laracasts.com,2020:/feed</id>

            <entry>
            <title>Animating the Rating Progress Bar: Part 2</title>
            <link href="https://laracasts.com/series/build-a-video-game-aggregator/episodes/15"/>
            <id>tag:laracasts.com,2020-08-13:/lessons/animating-the-rating-progress-bar-part-2</id>
            <updated>2020-08-13T10:43:24-04:00</updated>
            <summary> </summary>
        </entry>
    </feed>