{{ Mac.layout('header') | raw }}

<div class="wrapper">
<div class="section">
<div class="forum-wrapper">
<div class="tw-flex tw-flex-col md:tw-flex-row tw-mx-auto" style="max-width: 1100px">
{{ Mac.layout('sidebar') | raw }}
{{ Mac.layout('portal') | raw }}
</div>
</div>
</div>
</div>

{{ Mac.layout('footer') | raw }}