
            <div class="tw-py-2 tw-px-5 bg-mac tw-rounded tw-font-bold text-uppercase tw-mb-3">General <span class="badge">0</span></div>
            <div class="tw-py-2 tw-px-5 bg-mac bg-warning tw-rounded tw-font-bold text-uppercase tw-mb-3">Arts and Crafts <span class="badge">0</span></div>
            <div class="tw-py-2 tw-px-5 bg-mac bg-danger tw-rounded tw-font-bold text-uppercase tw-mb-3">Programming <span class="badge">0</span></div>
            <div class="tw-py-2 tw-px-5 bg-mac bg-success tw-rounded tw-font-bold text-uppercase tw-mb-3">Scripting <span class="badge">0</span></div>
            <div class="tw-py-2 tw-px-5 bg-mac bg-dark tw-rounded tw-font-bold text-uppercase tw-mb-3">Extensions and Mods <span class="badge">0</span></div>