<div class="footer-wrapper bg-dark text-white">
<section class="footer-section bottom tw-text-center tw-py-8">
<footer class="container">
<div class="row">
<div class="col-md-4">
<a href="{{ ('/') }}" class="tw-px-2">
Home
</a>
<a href="/rules" class="tw-px-2">
Rules
</a>
<a href="{{ ('/userlist.php') }}" class="tw-px-2">
Userlist
</a>
<a href="/" class="tw-px-2">
Create a Forum
</a>
</div>
<div class="col-md-4">
&copy; {{ 'Today' | date('Y') }}. All Rights Reserved 
<a href="{{ ('/') }}"> MyMac Forum</a>.
</div>
<div class="col-md-4 md:tw-text-right">
<p> Powered by <a href="/">
MyMac</a>.</p>
</div>
</div>
</footer>
</section>
</div>
</div>
</body>
</html>