
<div class="col-md-9">
<div class="forum-main row">
<div class="col-md-6 col-lg-7">
{{ Mac.minion('threadlist', {'title': 'portal.recent_updates'}) | raw }}
</div>
<div class="col-md-6 col-lg-5 tw-mx-auto">
{{ Mac.widget('sidebar', {'title': 'Online Users', 'template':'onlinelist'}) | raw }}
{{ Mac.widget('sidebar', {'title': 'Birthdays Today'}) | raw }}
{{ Mac.widget('sidebar', {'title': 'Forum Statistics', 'template':'forumstats'}) | raw }}
</div>
</div>
</div>