<div class="footer-wrapper bg-dark text-white">
<section class="footer-section bottom tw-text-center tw-py-8">
<footer class="container">
<div class="tw-px-8 py-2">
<a href="/" class="tw-px-2">
Home
</a>
<a href="/rules" class="tw-px-2">
Rules
</a>
<a href="userlist.php" class="tw-px-2">
Userlist
</a>
<a href="/" class="tw-px-2">
Create a Forum
</a>
</div>
<div class="">
&copy; {{ 'Today' | date('Y') }}. All Rights Reserved 
<a href="/"> MacBB Forum</a>.
<p> Powered by <a href="/" class="tw-px-2">
MacBB</a>.</p>
</div>
</footer>
</section>
</div>
</div>
</body>
</html>