{{ Mac.template('layouts/header/head') | raw }}
<body class=" guest ">
<div id="root" class="page xl:tw-flex" style="background-color: white">
<div class="xl:tw-flex-1">
<nav class="section lg:tw-z-50 tw-py-4 bg-mac lg:tw-py-3 " style="height: 60px">
<div class="tw-flex tw-justify-between tw-h-full tw-items-center tw-relative">
<div id="header-logo-arrow" class="has-animation xl:tw-flex-1 tw-mr-4 xl:tw-mr-0">
<a href="/" class="tw-cursor-pointer tw-leading-none tw-block logo white-logo">
</a>
</div>
<div class="navbar-links xl:tw-flex-grow tw-relative tw-hidden md:tw-flex md:tw-justify-start lg:tw-justify-around tw-text-xs lg:tw-text-sm xl:tw-w-1/2" style="max-width: 550px">
<a href="/discuss" class="navbar-link xl:tw-w-1/5 xl:tw-text-center md:tw-px-3 xl:tw-px-0 tw-text-white is-active tw-block tw-uppercase tw-text-transparent-50 tw-font-semibold hover:tw-text-white">
Home
</a>
<a href="/browse" class="navbar-link  xl:tw-w-1/5 xl:tw-text-center md:tw-px-3 xl:tw-px-0 tw-block tw-uppercase tw-text-transparent-50 tw-font-semibold hover:tw-text-white">
Topics
</a>
<a href="/series?curated" class="navbar-link  xl:tw-w-1/5 xl:tw-text-center md:tw-px-3 xl:tw-px-0 tw-block tw-uppercase tw-text-transparent-50 tw-font-semibold hover:tw-text-white">
Series
</a>
<a href="/podcast" class="tw-hidden lg:tw-block navbar-link xl:tw-w-1/5 xl:tw-text-center md:tw-px-3 xl:tw-px-0  tw-relative tw-block tw-uppercase tw-text-transparent-50 tw-font-semibold hover:tw-text-white">
Podcast
</a>
</div>
<div class="md:tw-hidden tw-flex tw-items-center"></div>
<div class="tw-relative tw-flex-1">
<div class="tw-flex tw-items-center tw-justify-end">
<search-button id="search-trigger" class="tw-leading-none tw-bg-transparent-10 hover:tw-bg-transparent-25 tw-p-3 tw-rounded-xl">
<button id="search-trigger" title="Search our forums">
<i class="fe fe-search"></i>
</button>
</search-button>
<a href="/login.php" class="tw-text-white hover:tw-text-white link tw-font-semibold tw-uppercase tw-mx-6 tw-text-xs">
Sign In
</a>
<a class="tw-text-white hover:tw-bg-white tw-font-semibold tw-uppercase tw-border tw-rounded-full tw-text-xs tw-px-3 tw-py-2 tw-leading-tight" href="/register.php">
Sign Up
</a>
</div>
</div>
</div>
</nav>