
<div class="col-md-9">
<div class="forum-main row">
<div class="col-md-6 col-lg-7">
<div class="mac tw-mb-3 tw-btn bg-mac tw-font-bold text-white text-uppercase tw-w-full tw-rounded tw-mx-auto"> Recent Updates </div>
<div class="conversation-list tw-mx-2 md:tw-mx-0">
<div class="conversation-list-item border tw-flex tw-cursor-pointer tw-items-start tw-flex-col md:tw-flex-rw md:hover:tw-bg-grey-panel md:tw-px-6 md:tw-py-3 tw-mb-4 md:tw-mb-3 tw-transition-all tw-px-6 tw-py-5 md:tw-px-0 tw--mx-2 md:tw-mx-0">

<div class="conversation-list-avatar tw-self-start tw-w-full tw-flex tw-items-center tw-mb-2 text-uppercase">
<div class="tw-flex tw-items-center">
<h4 class="tw-text-base" style="word-break: break-word;">
<a href="/discuss/channels/macbb/macbb-application-log-in-redirects-back-to-login-page" class="conversation-list-link tw-font-bold md:tw-font-semibold tw-tracking-tight hover:tw-text-black link" style="color: black" title="MacBB Application Log in redirects 419 error" v-pre>
MacBB Application Log in redirects 419 error
</a>
</h4>
</div>
</div>
<div class="tw-w-full tw-flex md:tw-block md:tw-mb-2">

<div class="conversation-list-title lg:tw-pr-10">
<div class="conversation-list-excerpt tw-break-words  tw-text-base md:tw-text-sm tw-mb-3 tw-text-grey-darker phone:tw-leading-loose" style="word-break: break-word; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;" v-pre>
My macbb application forum
When I log in, it comes back to Log in. it says 419 Page Expired.
What can be the issue?<span class="is-muted">...</span>
</div>
<div class="tw-text-grey-dark tw-text-xs tw-mt-2">
<a href="https://laracasts.com/@jonath45" class="tw-font-semibold link hover:tw-text-blue">
jonath45
</a>
replied
<a href="/discuss/channels/macbb/macbb-application-log-in-redirects-back-to-login-page?reply=631862" class="inherits-color link">
<time>10 minutes ago</time>
</a>
</div>
</div>
</div>
</div>
</div>
{{ Mac.template('widgets/pagination') | raw }}
</div>
<div class="col-md-6 col-lg-5 tw-mx-auto">
{{ Mac.template('widgets/sidebar', {'title': 'Online Users', 'template':'onlinelist'}) | raw }}
{{ Mac.template('widgets/sidebar', {'title': 'Birthdays Today'}) | raw }}
{{ Mac.template('widgets/sidebar', {'title': 'Forum Statistics', 'template':'forumstats'}) | raw }}
</div>
</div>
</div>