<div class="forum-sidebar mobile:tw-mt-8 md:tw-mr-8 tw-flex-none">
{{ Mag.template('widgets/search') | raw }}
<div class="sidebar md:tw-sticky md:tw-text-left tw-mx-4  md:tw--mx-4">
{{ Mag.template('widgets/sidebar', {'title': 'Discussion Forums', 'template': 'forumlist'}) | raw }}
{{ Mag.template('widgets/sidebar', {'title': 'User Info', 'class': 'mobile:tw-hidden'}) | raw }}
</div>
</div>