<div class="forum-sidebar mobile:tw-mt-8 mobile:tw-mx-2 md:tw-mr-2 tw-flex-none">
{{ Mac.template('widgets/search') | raw }}
<div class="sidebar md:tw-sticky md:tw-text-left tw-mx-auto">
{{ Mac.template('widgets/sidebar', {'title': 'portal.forumlist', 'template': 'forumlist'}) | raw }}
{{ Mac.template('widgets/sidebar', {'title': 'portal.userinfo', 'class': 'mobile:tw-hidden', 'template': 'userinfo'}) | raw }}
</div>
</div>